{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="{% url 'blog:index' %}">
        <img src="{% static 'img/logo-v2.png' %}?v=3" width="36" height="36" class="me-2" alt="Блогикум">
        <span class="navbar-brand-text">Блогикум</span>
      </a>
      {% with request.resolver_match.view_name as view_name %}        
        <ul class="nav  nav-pills">
          <li class="nav-item">              
            <a class="nav-link {% if view_name == 'blog:index' %} active {% endif %}" href="{% url 'blog:index' %}">
              Лента записей
            </a>
          </li>
          <li class="nav-item">              
            <a class="nav-link {% if view_name == 'pages:about' %} active {% endif %}" href="{% url 'pages:about' %}">
              О проекте
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'pages:rules' %} active {% endif %}" href="{% url 'pages:rules' %}">
              Наши правила
            </a>
          </li>
        </ul>
      {% endwith %}      
    </div>
  </nav> 
</header>